#div1{
    margin: 200px 100px 0px 100px;
    background-color: #fff;
    padding: 20px 0px 20px 0px;
    box-shadow: 5px 5px 5px #585858;
    border: 0.5px solid black;
    
}

#div2{
    margin: 100px 100px 60px 100px;
    background-color: #fff;
    padding: 50px 0px 50px 0px;
    box-shadow: 5px 5px 5px #585858;
    border: 0.5px solid black;
}

#div3{
    margin: 100px 10px 60px 10px;
    background-color: #fff;
    padding: 50px 0px 50px 0px;
    box-shadow: 5px 5px 5px #585858;
    border: 0.5px solid black;
}
#com1{
    height: 200px;
}
.outils{
    border: 1px solid black;
    margin-left: 40px;
    margin-right: 40px;
}
.icons{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.outils:hover{
    background-color:#d6d6d6;
}