
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#Mbschool{
  color: #fff;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

#navbarScrollingDropdown{
  color: #fff;
}

#enseigner{
  color: #fff;
}

/* .titre{

  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 100px;
  color:#fff;
} */
.pub{
  background-color: #2fa67b; 
  height: 200px;
  margin: 0px 450px 0px 450px;
  font-size: 35px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 25px;
  color: #fff;
  position: relative;
  top: 300px;
  right: 360px;
  box-shadow: 10px 10px 5px #585858;
  
}

#button1{
  color:#fff;
}
.sujetVedettes{
  background-color: #eaeaea;
}
.coursPython{
  background-color: #eaeaea;
}
#python{
  background-color: #fff;
  box-shadow: 10px 10px 5px #585858;
}

.footer{
  background-color: #2fa67b;
}

.eventKey:active {
  background-color: #ffff;
  color: red;
}

/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.Cours, .Communication, .Performances{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

} */